.welcome
    @include organismContainer()
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    min-height: 350px
    margin-top: 2rem
    font-size: 2rem
    color: $text-whiter-color
