.container
    @include flex(flex-start, center, column)
    width: 100%
    padding: 2em
    .container__cont
        width: 95%
        background-color: rgba(43, 44, 64, 0.96)
        padding: 2rem