@mixin flex($justify, $align, $direction)
    display: flex
    justify-content: $justify
    align-items: $align
    flex-direction: $direction
@mixin flexCenter($direction)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: $direction
@mixin flexSpaceBetween($direction)
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: $direction
@mixin flexSpaceAround($direction)
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: $direction
@mixin organismContainer()
    border-radius: 15px
    background-color: $organisms-background

@mixin link-primal()
    @include flexCenter(row)
    list-style-type: none
    text-decoration: none
    color: $text-color
    cursor: pointer
@mixin paragraph-primal()
    font-size: 1em
    color: $text-color
    font-family: $main-font-family
@mixin icon-primal()
    font-family: $main-font-family

@mixin warning()
    background-color: $warning-bgc
    color: $warning-color
@mixin error()
    background-color: $error-bgc
    color: $error-color
@mixin success()
    background-color: $success-bgc
    color: $success-color
@mixin blue()
    background-color: $blue-bgc
    color: $blue-color
@mixin info()
    background-color: $info-bgc
    color: $info-color
@mixin info2()
    background-color: $info-bgc
    color: $info-color
@mixin infoCard($padding)
    background-color: $organisms-background
    width: 100%
    padding: $padding
    border-radius: 0.8em
