$greyColor:box-shadow rgb(68, 69, 100) 0px 1px 0px
$body-background:#232333
$body-color: #a3a4cc
$font-size: 1em
$main-font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
$secondary-font-family: 'Arial'