$greyColor:box-shadow rgb(68, 69, 100) 0px 1px 0px
$body-background:#232333
$organisms-background:#2b2c3f
$text-color: #a0a0c0
$text-whiter-color: #babad1
$hover-text-color: #cbcbe2
$hover-bgc-color: rgba(124, 125, 182, 0.06)

$warning-bgc: rgb(77, 64, 54)
$warning-color: rgb(255, 171, 0) 

$error-bgc: rgb(77, 47, 58) 
$error-color: rgb(255, 62, 29) 

$success-bgc: rgb(54, 72, 63)
$success-color: rgb(113, 221, 55) 

$info-bgc: rgb(57, 60, 80) 
$info-color: rgb(133, 146, 163)

$asd:#444566
$qwe:#a3a4cf

$extraColor: rgb(105, 108, 255)

$font-size: 1em
$border-radius: 1.2em

$main-font-family: "Poppins", sans-serif
$secondary-font-family: 'Arial'