$greyColor:box-shadow rgb(68, 69, 100) 0px 1px 0px
$body-background:#232333
$organisms-background:#2b2c3f
$text-color: #a0a0c0
$font-size: 1em
$main-font-family: "Poppins", sans-serif
$secondary-font-family: 'Arial'
$asd:#444566
$zxc:#2b2c3f
$qwe:#a3a4cf
$hover-bgc-color: rgba(124, 125, 182, 0.06)
$hover-text-color: #cbcbe2