#page_home
    width: 100%
    overflow-x: hidden 
    display: flex
    flex-direction: column
    .expire__block
        display: flex
        justify-content: space-between
        align-items: space-between
        flex-direction: row
        width: 100%
        margin: 2rem 0