.css-j2fu73-HEADER_CELL_CONTAINER_STYLE-HeaderCell:nth-of-type(1) div
    display: flex
    justify-content:  center
    align-items: center
    border: '1px solid rgb(68, 69, 100)'
    border-collapse: 'collapse'
.css-klo8jl-CELL_CONTAINER_STYLE-Cell:nth-of-type(1) div
    display: flex
    justify-content:  center
    align-items: center
    border: '1px solid rgb(68, 69, 100)'
    border-collapse: 'collapse'